*{
    margin: 0;
    padding: 0;
}
.full-wrapper{
    width: 100%;
}
.wrapper{
    width: 960px;
    margin: 0px auto;
}
.topbar_bg{
    background: #f51313;
}
.topbar{
    height: 36px;
    background: #f51313;
}
.news{
    width: 150px;
    height: 36px;
    float: left;
}
.news h4{
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 8px;
    padding-left: 20px;
}

.scroll{
    width: 660px;
    height: 36px;
    float: left;
}
.scroll marquee{
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 10px;
}


.social{
    width: 150px;
    height: 36px;
    float: left;
}
.social ul{
    list-style: none;
    float: right;
}
.social ul li{
    float: left;
    margin-left: 5px;
}
/* topbar ends */
.logo_bg{
}
.logo_part{
    height: 150px;
}
.logo_part .apps{
    width: 320px;
    height: 150px;
    float: left;
}
.logo_part .main-logo{
    width: 320px;
    height: 150px;
    float: left;
    text-align: center;
}
.main-logo img{
    margin-top: 30px;
}
.logo_part .contact{
    width: 320px;
    height: 150px;
    float: left;
}
.apps ul{
    margin-left: 15px;
    padding-top: 20px;
}
.apps ul li{
    float: left;
    color: #656060;
}
.apps ul li a{
    color: #656060;
    text-decoration: none;
    padding-right: 30px;
    font-family: sans-serif;
}
.apps a img{
    margin-top: 20px;
}
.contact p{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #c00;
    padding-top: 30px
}
.contact p span{
    color: #1f1e1e;
    font-weight: normal;
    font-size: 13px;
}
.contact small{
    float: right;
}

/* logo_part ends */












